#footer {
    background-image: url('../assets/img/footer/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 0 100px 0;
    position: relative;
    color: #ffffff;
}

.img-tour {
    width: 80%;
}

.young_fire_icon {
    width: 96px;
}

.young_fire_content_1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.young_fire_content_2 {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.hotline {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-left: -145px;
    margin-top: 50px;
    color: #ffffff;
}

.hotline_content {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    margin-left: -145px;
    color: #ffffff;
}

.cmc_global_logo {
    margin-top: 20px;
    margin-left: -80px;
    width: 120px;
}

.logo-your5fire {
    width: 98.35px;
    height: 79.68px;
    position: absolute;
    top: 68px;
    right: 48px;
}

.logo-cmc {
    position: absolute;
    top: 68px;
    left: 48px;
    width: 120px;
    height: 57px;
}

.home-content {
    h1 {
        line-height: 27.2px;
        font-size: 21px;
        line-height: 27.2px;
    }

    h3 {
        font-size: 18px;
    }
}

.your5-footer {
    width: 159px;
}

.btn-chi-tiet-the-le {
    width: 50%;
}

.tuoi-tre-footer {
    width: 320px;
}

@media only screen and (max-width: 601px){
    #footer {
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 12px;
        }
    }
    .your5-footer{
        width: 96px;
      }
      .tuoi-tre-footer{
        width: 80%;
      }
      .btn-chi-tiet-the-le{
        width: 100%;
      }
}
@media (max-width: 767px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }