#music {
    z-index: 30;
    position: relative;
    background-image: url('../assets/img/music.png');
    padding-top: 185px;
    padding-bottom: 52px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -87px;
    height: 1200px;
  }
  #music h1{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
  
    color: #FFBD32;
  }
  .event-title{
    width: 100%;
  /* height: 25%; */
  }




@media (max-width: 767px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }